/* Lógica de Carregamento (FOUC) */
body {
  background: var(--background-primary);
  color: var(--content-secondary);
  font-family: var(--ff-roboto-flex);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  opacity: 0;
}

.ready body {
  opacity: 1;
  transition: opacity 0s ease-in;
}
