body {
  background-color: var(--background-primary);
  background-image: url("../assets/img/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: var(--content-secondary);
  font-family: var(--ff-roboto-flex);

  padding: 44px 35px;
  min-height: 100vh;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;

  transition:
    background-color 0.2s ease,
    color 0.2s ease;

  /* Lógica de Carregamento (FOUC) */
  opacity: 0;
}

.ready body {
  opacity: 1;
  transition: opacity 0s ease-in;
}

.icon {
  flex-shrink: 0;
}

.icon--brand {
  color: var(--content-brand);
}

.icon--primary {
  color: var(--content-primary);
}

.icon--sm {
  width: var(--icon-sm);
  height: var(--icon-sm);
}

.icon--md {
  width: var(--icon-md);
  height: var(--icon-md);
}

.icon--lg {
  width: var(--icon-lg);
  height: var(--icon-lg);
}

.brand-header,
.main-content,
.page-footer {
  width: 100%;
  margin-inline: auto;
}

.brand-header {
  align-items: center;
  gap: 11px;
}

.brand-header h1 {
  line-height: 1;
}

.hero-section {
  display: grid;
  gap: 12px;
}

.tagline {
  display: block;
}

.panel-options,
.panel-results {
  padding-block: 40px;
}

.panel-header {
  display: grid;
  gap: 2px;
}

.panel-header p,
.hero-section h1,
.page-footer p {
  margin: 0;
}

.inputs-container {
  margin-block: 40px 20px;
  gap: 4px;
}

.input-group {
  justify-items: stretch;
  gap: 4px;
}

.input-group label {
  width: 100%;
  text-align: center;
}

.input-group input {
  width: 100%;
  padding: 8px 4px;
  text-align: center;
}

.toggle-group {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.btn-draw {
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
}

.faq-section {
  gap: 36px;
}

.faq-item {
  align-items: flex-start;
  gap: 8px;
}

.faq-item .icon {
  margin-top: 2px;
}

.title-faq {
  text-align: left;
}

.content-faq {
  display: grid;
  gap: 8px;
}

.page-footer {
  margin-top: 50px;
  text-align: center;
}

@media (max-width: 48em) {
  .brand-header {
    justify-content: center;
    margin-bottom: 46px;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  .hero-section {
    order: 1;
  }

  .draw-panel {
    order: 2;
  }

  .faq-section {
    order: 3;
    gap: 36px;
  }
}

@media (min-width: 48.0625em) {
  .brand-header {
    justify-content: flex-start;
    max-width: 1128px;
    margin-bottom: 89px;
  }

  .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: start;
    max-width: 1100px;
  }

  .hero-section {
    grid-column: 1;
    grid-row: 1;
  }

  .faq-section {
    grid-column: 1;
    grid-row: 2;
    gap: 60px;
  }

  .draw-panel {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .tagline {
    margin-bottom: 12px;
  }

  .hero-section h1 {
    margin-bottom: 38px;
  }

  .page-footer {
    max-width: 1100px;
  }
}
